# Non critical files
time_series
doc
books/*
articles/*
3-pos-textuais/example_refs.bib
# No images !
*.png
# Latex stuff
*.out
*.aux
*.alg
*.acr
*.dvi
*.gls
*.log
*.bbl
*.blg
*.ntn
*.not
*.lof
*.lot
*.toc
*.loa
*.lsg
*.nlo
*.nls
*.ilg
*.ind
*.ist
*.glg
*.glo
*.xdy
*.acn
*.idx
*.loq
# Python stuff
__pycache__/
*.py[cod]
.mypy_cache/
# Data
data/*
